body{
background-color: rgb(206, 137, 206);
padding: 20px;
margin: 0;
}

h1{
color: darkblue; 
    font-size: 35px;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
}
   
p{
color: black(11, 11, 119);
font-family: 'Times New Roman', Times, serif;

}

header h1
{
    padding-left: 550px;
}

footer{
    background-color: rgb(175, 175, 175);
}